/* resets */
body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

.branding {
  font-family: "Lobster Two", cursive;
  font-size: 14px;
  display: absolute;
}
.logo-pig {
  height: 100px;
  width: 200px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
body {
  background: #01ffdf;
  background: radial-gradient(ellipse at center, #01ffdf, #01ad8b);
  height: 100vh;
  width: 100%;
}

.form-container {
  display: flex;
  display: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 25px;
  justify-content: space-around;
}
.inputs {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  outline: none;
}
::placeholder {
  color: black;
}
.login-btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background: white;
  color: black;
}
.labels {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}
.forgot {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 11px;
}
.link {
  text-decoration: none;
}

.display-none {
  display: none;
}
.header-2 {
  position: fixed;
  font-family: "Lobster Two", cursive;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: grey 0 5px 5px;
  background-color: #01c9a8;
  width: 100%;
  padding: 0 10px;
  z-index: 2;
}
.fa-hamburger {
  color: white;
  font-size: 30px;
  padding-right: 30px;
}

.week-block {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: white;
  border: 1px black solid;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: black;
}
.week-style {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.ent-size {
  height: 30px;
  width: 30px;
}
.calendar-img {
  margin: 0px 3px;
}
.weeks-container {
  padding-top: 75px;
  position: relative;
}
.slideout {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  z-index: 2;
}
.main-form {
  text-align: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 100vh;
  width: 70%;
  background: #01ffdf;
  background: radial-gradient(ellipse at center, #01ffdf, #01ad8b);
  padding: 20px;
  position: absolute;
  right: 0;
}
.username-add {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.slideout-input {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  width: 50%;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: black;
  outline: none;
}
.slideout-brand {
  height: 75px;
  width: 125px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}
.cash-label {
  margin-top: 20px;
}
.cash-add {
  height: 300px;
  width: 300px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.4);
}
.add-cash-btn {
  display: inline-block;
  align-self: center;
}
.week-cards {
  position: relative;
}
.delete {
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
}

.delete-icon {
  height: 25px;
  width: 25px;
  border: none;
}
.total-cash {
  font-size: 18px;
}

.category-icons {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.icon {
  padding-top: 25px;
}

.add-moolah {
  border-radius: 10px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.add-moolah:hover {
  background-color: #01ad8b;
}